* {
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

button {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3fcac3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #36b2ad;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

img {
  max-width: 100%;
  width: 500px;
  height: auto;
}


input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.registration {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.registration_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}